@model IEnumerable<ZeroHunger.DTO.Collect_RequestDTO>

@{
    ViewBag.Title = "Admin";
    ViewBag.Name = Session["A_name"];
    ViewBag.A_id = Session["A_ID"];
}

<center>

    <h2>@ViewBag.Name</h2>
    <button id="RequestShow">Show Request</button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/Scripts/showRequest.js"></script>
    <script src="~/Scripts/Assign.js"></script>


    <div id="Show" style="display:none">
        <p>

        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Restid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Collectid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PreserveTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    Option
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelitem => item.Restid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.Collectid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.PreserveTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.Location)
                    </td>
                    <td>
                        <input type="hidden" name="collectID" value=@item.Collectid />
                        <a href="@Url.Action("Assign","Admin", new { collectid = item.Collectid })" class="btn btn-outline-success">Assign an Employee</a>
                        <a href="@Url.Action("Decline","Admin")" class="btn btn-outline-danger">Decline</a>
                    </td>
                </tr>
            }
        </table>

    </div>

</center>
